mixin head-meta(title, description, href)
	title= title
	meta(name="description" content= description)
	link(rel="canonical" href= href)

mixin feedback(text, image, name, profession)
	.feedback__post
		p.feedback__text= text
		p.feedback__img
			img(src= image)
		span.feedback__name= name
		span.feedback__proffesion= profession

mixin journal(image, icon, name, title, text)
	div(class='journal-post journal-post__'+ icon)
		div(class='journal-post__img-wrap journal-post__img-wrap--'+ icon)
			img(src= image)
		div.journal-post__content
			h4.content-subtitle= name
			h3.journal-post__title= title
			p.small-text= text

mixin contact-form(type, placeholder, name)
	input(type=type, placeholder=placeholder, name= name,required)

mixin how-work(number, title, text)
	.block__content
		span.how-work__content-number= number
		div(class='how-work__content-icon how-work__content-icon--' + number)
		.how-work__content-title= title
		.small-text= text

mixin tour-list(nameClass, title, text, oldPrice, newPrice)
	a(class='tour-item tour-item--' + nameClass)
		.tour-item__raiting
			.tour-item__raiting-item.tour-item__raiting-item--active
			.tour-item__raiting-item
			.tour-item__raiting-item
			.tour-item__raiting-item
			.tour-item__raiting-item
		h4.tour-item__title= title
		p.tour-item__text.main-text= text
		.tour-item__price
			span.tour-item__price--old= oldPrice
			span.tour-item__price--new= newPrice
			p.tour-item__price--link Перейти